*{
	margin: 0;
	padding: 0;
	list-style: none;
}

html{
	font-size: 12px;
}

a:hover{
	text-decoration: none;
}

body{
	font-size: 1rem;
	font-family: Microsoft Yahei, Arial, Helvetica, sans-serif, serif;
	height: 100%;
	overflow: auto;

}

.backtop{
	position: fixed;
	display: none;
	top: 70%;
	right: 3%;
	cursor: pointer;
}

.backtop img{
	width: 3rem;
	height: 3rem;
}

.navbox{
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
	padding-top: 4px;
}

.nav_left li.current>a{
	border-bottom: 4px solid #48a5f4;
}

.nav_top{
/* 	min-width: 514px;
 */	position: relative;
	font-size: 1.4rem;
	text-align: center;
	/* background: rgba(255, 255, 255, 0.9);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20); */
}

.nav_top .navbar-brand img{
	height: 30px;
}

.btnDropdown{
	float: left
}

.nav_top .navbar-right{
	position: absolute;
	right: -15px
}

.searchBox{
	position: relative;
	width: 265px;
}

.searchBox input{
	border: 1px solid #1a89ed;
}

.btnSearch{
	position: absolute;
	top: 0;
	right: -15px;
	background: #1a89ed;
	color: #fff;
}

.fullSection{
	width: 100%;
}

.section{
	margin: auto;
	margin-top: 59px;
}

.banner-section{
    width: 100%;
    padding-bottom: 44.57%;
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.mb-banner-section{
	display: none
}

.main-out{
	background: #fafafa;
}

.main{
	/* min-width: 1200px; */
	margin-top: 25px;
	cursor: pointer;
}

.main .col-md-4{
	padding: 0;
}

.main .thumbnail{
	width: 380px;
	height: 250px;
	position: relative;
	border: 0;
	padding: 0;
}

.main .thumbnail img{
	width: 100%;
	height: 250px;
}

.main .thumbnail:hover{
	box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.main .caption{
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 0;
}

.main .caption h3{
	text-align: center; 
	background-color: #ccd6e2; 
	padding: 10px;
	margin: 0;
}

.dynamic_news{
	position: relative;
}

.dynamic_news h2{
	text-align: center;
	color: #969696;
	margin-bottom: 15px;

}

.dynamic_news h4{
	width: 50%;
	float: left;
}

.news-list {
	display: table;
	table-layout: fixed;
	width: 50%;
	font-size: 1.2rem;
	line-height: 2.5rem;
}

.decoration {
    display: table-cell;
    width: 10%;
    position: relative;
    vertical-align: middle;
    text-align: center;
}

.decoration::before,.decoration::after {
	content: "";
	display: block;
	width: 1px;
	height: 50%;
	background: #ccc;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	z-index: -1;
}

.news-item {
	display: table-row;
	width: 100%;
}

.news-circle {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #fff;
    vertical-align: middle;
}

.solid-circle {
    background: #ccc;
    border-radius: 50%;
    width: 0.6rem;
    height: 0.6rem;
    overflow: hidden;
    margin: 0.3rem;
}

.news-box {
    display: table-cell;
    line-height: 3rem;
    width: 80%;
    vertical-align: middle;
    color: #000;
    padding-left: 15px;
    position: relative;
    border-radius: 2px;
}

.news-item .news-title {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.news-time {
	width: 100%;
    color: #999999;
    font-size: 1rem;
    line-height: 2rem;
}

.news-item:nth-child(1) .decoration::before {	
	display: none;
}

.news-item:nth-last-child(1) .decoration::after {	
	display: none;
}

.news-item:hover .news-box {	
	background-color: #64b7f7;	color: #fff;
}

.news-item:hover .news-box::before {
	content: "";
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid #64b7f7;
	border-bottom: 10px solid transparent;
	position: absolute;
	left: -10px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.news-item:hover .news-title {
	color: #fff;
	text-decoration: underline;
}

.news-item:hover .news-time {
	color: #fff;
}

.news-item:hover .solid-circle {
	background: #64b7f7;
}

.more-news {
	width: 50%;
	padding-top: 2rem;
	text-align: center;
	font-size: 1.2rem;
	line-height: 2rem;
}

.more-news-tip {
	display: inline-block;
	vertical-align: middle;
	line-height: 1.2;
	padding-right: 3em;
	color: #000;
	background: url(../img/gray_right.png?v=12) right 1em center/ auto 100% no-repeat;
}

.more-news-tip:hover {
	background-image: url(../img/gray_right_01.png?v=12);
}

.news-time {
	color: #999999;
	font-size: 1rem;
	line-height: 2rem;
}

.more-news-img {
	display: inline-block;
	vertical-align: middle;
	height: 1.2rem;
	padding-left: 0.5rem;
}

.news_img{
	position: absolute;
	top: 130px;
	right: 0;
	padding: 0;
}

.news_img>div>div{
	overflow: hidden;
	box-sizing: border-box;
	margin-bottom: 15px;
}

.news_img a{
	display: block;
	width: 100%;
	height: 100%;
}

.news_img img:hover{
	box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.50);

}

.news_img img{
	width: 100%;
	position: relative;
}

.news_img span{
	position: absolute;
	bottom: 0;
	display: block;
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.8);
	text-align: center;
	width: 95%;
	height: 48px;
	line-height: 48px;
}

a.h5-more{
	/* display: none; */
	display: block;
	width: 8rem;
	line-height: 2.8rem;
	margin: 2.5rem auto;
	padding: 5px;
	text-align: center;
	font-size: 1.4rem;
	border-radius: 2rem;
	border: 1px solid #2472dc;
	background: #2472dc;
	color: #fff;
}

.home-in-work{
	background: url('../img/bd_work_bg01.jpg') no-repeat;
	background-size: cover;
	margin: 60px auto;
	padding-bottom: 50px;
}

.home-in-work h2{
	color: #fff;
	padding: 60px 0 30px 0;
	text-align: center;
}

.home-in-work .container{
	padding: 0;
	text-align: center;
	/* overflow: hidden; */
}

.home-in-work .container>div{
	cursor: pointer;
}

.home-in-work .col-md-4{
	padding: 0 5px;
}

.home-in-work .col-md-4 img{
	position: relative;
	width: 380px;
	margin: 0 auto;
}

.home-in-work .col-md-4 h4{
	box-sizing: border-box;
	width: 100%;
	color: #fff;
	margin: 0 auto;
	padding: 0 5px;
}

.home-in-work .col-md-4 h4>span{
	display: inline-block;
	padding: 15px 0;
}

.home-in-work .col-md-4 h4>span::after{
	display: block;
	content: ''; 
	/* content: '━━'; */
	/* clear: both; */
	width: 30px;
	height: 4px;
	background: #fff;
	margin: 15px auto 0 auto;
}

.home-in-work .col-md-4:hover h4{
	color: #000;
	background: #fff;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.50);
}

.home-in-work .col-md-4 .bg_cover{
	display: none;
	position: absolute;
	width: 100%;
	height: 235.23px;
	bottom: 0;
	box-sizing: border-box;
	padding: 0 5px;
	background: rgba(0, 0, 0, 0.30);
}

.home-in-work .col-md-4 .bg_cover img{
	width: 60px;
	height: 60px;
	margin-top: 20%;
}

.home-in-work .col-md-4 .bg_cover p{
	font-size: 17px;
	color: #fff;
	margin-top: 15px;
}

.home-in-work .col-md-4:nth-of-type(2) .bg_cover p:nth-of-type(1){
	margin-top: 22%;
}

.home-in-work .col-md-4:nth-of-type(3) .bg_cover p{
	margin-top: 30%;
}

.home-in-work .col-md-4:hover .bg_cover{
	display: block;
}

.home-in-work .col-md-4:hover h4>span::after{
	background: #000;
	animation: lengthen 1s  forwards;
}

@keyframes lengthen {
	100%{
		width: 100%;
	}
}

.doodle h2{
	color: #969696;
}

.doodle>div{
	/* padding: 0; */
	text-align: center;
}

.doodle>div img{
	width: 100%;
}

.doodle>div:nth-of-type(3) img{
	padding: 10px 0 0 0;
}

.home-introduce-out{
	background: #fafafa;
	padding-bottom: 50px;
}

.home-introduce{
	overflow: hidden;
}

.home-introduce h2{
	margin: 60px 0 30px 0;
}

.home-introduce>div{
	padding: 0 10px;
}

.home-introduce>div img{
	width: 100%;
	border-radius: 10px;
}

.home-introduce>div .tips{
	width: 100%;
	position: absolute;
	top: 50%;
	text-align: center;
	font-size: 1.6rem;
	padding: 20px 0;
	transform: translateY(-50%);
	background: rgba(255, 255, 255, 0.8);
}

.home-introduce>div .hover-cover{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0 10px;
	width: 100%;
	height: 100%;
	transform: scaleX(0.93);
	border: 1px solid #979797;
	border-radius: 10px;
	background: rgba(34, 152, 244, 0.65);
}

.home-introduce>div .hover-cover>h4{
	font-size: 20px;
	width: 80%;
	margin: 15px auto;
	padding: 20px;
	color: #fff;
	border-bottom: 1px solid #fff;
}

.home-introduce>div .hover-cover>p{
	text-align: center;
	color: #fff;
	font-size: 1.5rem;
}

.home-introduce>div .hover-cover>a{
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	background: #fff;
	color: #2298f4;
	width: 80px;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	border-radius: 6px;
	text-align: center;
	text-decoration: none;
	margin: auto auto 0 auto;
}

.home-introduce>div .hover-cover>a:hover{
	color: #23527c;
}

.home-introduce>div:hover .hover-cover{
	display: block;
	box-shadow: 0 0 16px 0 rgba(29, 29, 38, 0.50);
}

.home-introduce>div:hover .tips{
	display: none;
}

.footer{
	padding-bottom: 30px;
	position: relative;
	font-size: 16px;
}

.footer p{
	
	color: #666666;
	padding: 20px 0;
	border-bottom: 1px solid #e8e8e9;
}

.more-msg,.business-cop{
	padding: 0 30px;
	float: left;
	margin-right: 30px;
}

.footer a{
	display: block;
	text-decoration: none;
	color: #999999;
	padding-top: 10px;
}

.footer .copyright{
	 position: absolute; 
	 bottom: 0; 
	 left: 50%; 
	 transform: translateX(-50%);
}

@media (max-width: 1200px){
	.main{
		width: 1200px;
		margin: 0 auto  25px auto;
	}

	.banner-section{
		width: 1200px;
		height: 535px;
		margin-bottom: 15px;
		background-position: 0 0;
		background-size: 100% 535px;
	}	

	.dynamic_news{
		width: 1200px;
		margin: 0 auto;
	}

	.dynamic_news h2{
		width: 100%;
	}

	.news_img{
		width: 100%;
	}

	.dynamic_news h4,.dynamic_news .news-list,.dynamic_news .more-news{
		display: none;
	}

	.news_img{
		position: static;
	}

	.news_img span{
		font-size: 1.4rem;
	}

	a.h5-more{
		/* display: block; */
		position: relative;
		height: 47px;
		left: 600px;
		margin-left: -4rem;
	}

	.home-in-work{
		width: 1200px;
	}

	.home-in-work>div{
		width: 100%;
	}

	.home-in-work>div .bg_cover{
		width: 100%;
		padding: 0;
		margin-left: -5px;
	}
	
	.doodle, .home-introduce{
		width: 1200px;
	}
}

@media (max-width: 992px){
	.dynamic_news h4,.dynamic_news .news-list,.dynamic_news .more-news{
		display: none;
	}

	.home-in-work>div{
		width: 100%;
	}

	.home-in-work>div .bg_cover{
		width: 100%;
		margin-left: -5px;
	}

	.home-in-work>div h4{
		margin-left: 5px;
	}

	.home-in-work>div .bg_cover img{
		margin-top: 10%;
	}

	.home-in-work>div:nth-of-type(2) .bg_cover p:nth-of-type(1){
		margin-top: 10%;
	}

	.home-in-work>div:nth-of-type(3) .bg_cover p{
		margin-top: 15%;
	}

}

@media (max-width: 768px){
	body{
		width: 100%;
	}

	.nav_left li.current>a{
		border: 0;
	}

	.navbox{
		text-align: center;
	}

	.nav_top{
		width: 100%;
		height: auto;
		font-size: 1.4rem;
		/* line-height: 4rem; */
	}

	.nav_top .col-xs-12{
		float: none;
		width: 100%;
		padding: 5px 15px;
		text-align: center;
		
	}

	.nav_top .col-xs-12 a.navbar-brand{
		display: block;
		float: none;
		text-align: center;	
		margin: 0 auto;
	}

	.nav_top .col-xs-12 .btnDropdown{
		margin: 8px 0;
		padding: 20px;
		border: 0;
		/* font-size: 33px; */
	}

	.nav_top .col-xs-12 .btnDropdown span.icon-bar{
		width: 25px;
		height: 3px;
		transition: all 0.3s linear;
	}

	.nav_top .col-xs-12 .btnDropdown span.change:nth-of-type(4){
		animation: wchg 0.3s linear forwards;
		transform: rotate(-45deg) translateY(-10px);
		/* transform-origin: right top; */
	}

	.nav_top .col-xs-12 .btnDropdown span.change:nth-of-type(3){
		transform: translateX(-5px) scaleX(0);
		transform-origin: center;
	}

	.nav_top .col-xs-12 .btnDropdown span.change:nth-of-type(2){
		animation: wchg 0.3s linear forwards;
		transform: rotate(45deg) translateY(10px);
		/* transform-origin: right,bottom   */
	}

	@keyframes wchg {
		0%{
			width: 100%;
		}
		100%{
			width: 150%;
		}
	}


	.nav_top .col-xs-12 .btnDropdown:focus{
		background: transparent;
	}

	.nav_top .col-xs-12 a.navbar-brand>img{
		/* margin-left: 50%;
		transform: translateX(-28%); */
		margin: 0 auto;
		height: 4.7rem;
		margin-top: -10px;
	}

	.mb-banner-section {
	    display: block;
	}

	.section {
	    width: 100%;
	    margin: auto;
	}

	.banner-section{
		display: none;
	}

	.mb-banner{
		margin-top: 86px;
		width: 100%;
	}

	.main{
		max-width: 100%;
		/* width: 100%; */
	}

	.main .col-xs-12{
		position: relative;

		padding: 10px 18px;
		border: 1px solid #eee;
	}

	.main .thumbnail{
		width: 100%;
		height: auto;
		position: static;
	}

	.main .thumbnail img{
		width: 50%;
		height: auto;
		float: left;
	}

	.main .thumbnail .caption{
		width: 50%;
		top: 50%;
		right: 0;
		margin-top: -23px;
		margin-bottom: 20px;
	}

	.main .caption h3{
		background-color: #fff;
	}

	.dynamic_news{
		/* max-width: 767px; */
		width: 100%;
	}

	.dynamic_news h4,.dynamic_news .news-list,.dynamic_news .more-news{
		display: none;
	}

	.dynamic_news .news_img{
		padding: 0 15px;
	}

	.news_img span{
		font-size: 1.4rem;
	}

	a.h5-more{
		left: 50%;
	}

	.home-in-work{
		width: 100%;
		padding: 0 15px;
	}

	.home-in-work>div{
		width: 100%;

	}

	.home-in-work .col-md-4 h4{
		margin-left: 5px;
	}

	.home-in-work .col-md-4 .bg_cover img{
		margin-top: 10%;
	}

	.home-in-work .col-md-4:nth-of-type(2) .bg_cover p:nth-of-type(1){
		margin-top: 10%;
	}

	.home-in-work .col-md-4:nth-of-type(3) .bg_cover p{
		margin-top: 15%;
	}

	.doodle, .home-introduce{
		width: 100%;
	}
}

